@charset "UTF-8";
@import url(../css/font.css);

/* 초기화 기본설정 */

*{margin: 0; padding: 0;
  list-style: none; text-decoration: none;
  box-sizing: border-box; text-decoration: none;
  border-collapse: collapse;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

.inner{
  width: 90%; margin: 0 auto;
  padding: 4rem 0;
}

