
/* 헤더영역 */
header{
    width: 100%;
}
header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
}

header .inner .logo{
    width: 10rem;
}


header .inner .logo img{
    width: 100%;
    display: block;
}

/* PC용 네비게이션 */
header .inner nav .gnb{
    display: flex;
}
 


header .inner nav .gnb li a{
    display: inline-block;
    padding: 10px 40px;
}

header .inner nav .gnb li:hover a{
    color: #999; font-weight: 500;
}

header .inner nav .gnb li:last-child{
    margin-right: 0;
}


header .inner nav .gnb li a{
    display: inline-block;
    color: #333;
    font-weight: 600;
}


header .inner .m_gnb_btn{
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: none;
}

/* 버튼 선 */
header .inner .m_gnb_btn span{
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #333;
  transition: 0.3s;
}

/* 3줄 위치 */
header .inner .m_gnb_btn span:nth-child(1){ top: 20%; }

header .inner .m_gnb_btn span:nth-child(2){
  top: 50%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .inner .m_gnb_btn span:nth-child(3){ top: 80%; }

/* 클릭후 */
header .inner .m_gnb_btn.on span:nth-child(1){
  top: 50%;
  transform: rotate(45deg);
}
header .inner .m_gnb_btn.on span:nth-child(2){
  opacity: 0;
}
header .inner .m_gnb_btn.on span:nth-child(3){
  top: 50%;
  transform: rotate(-45deg);
}


.m_menu{
  padding: 2.9rem 0;
  z-index: 999;
  height: 100vh;
  width: 30%;
  position: fixed;
  top: 0;
  right: -30%;
  background: rgba(246, 171, 171, 0.7);
  text-align: center;
  transition: right 0.5s; 
}

.m_menu.on{
  right: 0;
}


/* 언어 선택 */
span.material-symbols-outlined{
    vertical-align: middle;
}


/* 메인비주얼영역 */

.main_visual{
    position: relative;
}

.main_visual img{
    width: 100%;
    display: block;
}

.main_visual div{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}


.main_visual div p{
    color: #fff;
    font-size: 1.2rem;
    padding: 20px;
    animation-name: TextMoving1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes TextMoving1{
    0%{filter: blur(15px); opacity: 0; transform: scale(2.0);}
    100%{filter: 0; opacity: 1; transform: scale(1.0);}
}

.main_visual div h2{
    color: #fff;
    font-size: 3.5rem;
    animation-name: TextMoving2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes TextMoving2{
    0%{filter: blur(15px); opacity: 0; transform: translateY(60px);}
    100%{filter: blur(0); opacity: 1; transform: translateY(0);}
}


/* 색션 01~03 */


.textBox span{
    color: #0e9447;
    font-weight: 600;
}

.s1 .container{
    margin: 4.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s1 .container li{
    margin-right : 1rem;
}

.s1 .container li:last-child{
    margin-right: 0;
}

.s1 .container li img{
    display: block;
    width: 100%;
    border-radius: 1.25rem;
}


.s1 .container li span{
    display: inline-block;
    font-weight: 800;
    margin-top: 1rem;
}

.s2{
    background: url(../images/ms3_03.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
}

    

.textBox h2{
    margin: 0.625rem 0;
    font-size: 2rem;
}

.textBox p{
    font-size: 0.9rem;
    color: #333;
}

.s2 .inner .textBox .btn{
    display: inline-block;
    width: 12.5rem; height: 3.125rem;
    border: 1px solid #333;
    text-align: center;
    line-height: 50px;
    margin-top: 24px;
    color: #333;
}

.s3 .textBox{
    margin-bottom: 2rem;
}
.s3 .board{
    margin-bottom: 3rem;
    width: 100%;
}

.s3 .board > li{
    position: relative;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #999;
}

.s3 .board > li:first-child{
    border-top: 2px solid #999;
}

.s3 .board > li:last-child{
    border-bottom: 1px solid #999;
}

.s3 .board > li > span{
    font-size: 1rem;
}


.s3 .board > li > span:first-child{
    margin-right: 2.5rem;
}


.s3 .board > li > span:last-child{
    position: absolute;
    right: 1.25rem; top:50%;
    transform: translateY(-50%);
  
}

.s3 .container{
    width: 100%;
}

.s3 .container .gallery{
    display: flex;
}

.s3 .container .gallery .item{
    margin-right: 1rem;
    overflow: hidden;
    border-radius: 1rem;
}

.s3 .container .gallery .item:last-child{
    margin-right: 0;
}

.s3 .gallery .item img{
    display: block;
    width: 100%;
}

footer{
    background: #222;
    padding: 1.25rem 0 3rem;
    font-size: 0.8rem;
}

footer ul{
    display: flex;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #999;
    padding-left: 7.5rem;

}

footer ul li{
    margin-right: 1.5rem;
}

footer  ul li a{
    color: #fff;
    font-size: 0.9rem;
    width: 100%;
}

footer address{
    font-style: normal;
    color: #999;
    padding-left: 7.5rem;
}



/*  */
@media (min-width: 1200px) {
}



/* 태블릿 (Tablet) */
@media all and (min-width:1024px) and (max-width:1279px){

header nav{ display: none;}


header .inner .m_gnb_btn{
    display: block;
}


header .inner .logo{
    order: 2;
}

header .inner .lang{
    order: 3;
}

header .inner .m_gnb_btn{
    order: 1;
}


.s1 .inner .container li:first-child{
    margin-bottom: 2rem;
}

}

.s2{
    background-position: center top -100px;
}


/* 모바일 (Mobile) */
@media (max-width: 767px) {
  header nav{ display: none;}
  
 header .inner .m_gnb_btn{
    display: block;
 }

header .inner .logo{
    order: 2;
}

header .inner .lang{
    order: 3;
}


header .inner .m_gnb_btn{
    order: 1;
}

 .main_visual div p{
    color: #fff;
    font-size: 1rem;
    animation-name: TextMoving1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.main_visual div h2{
    animation-name: TextMoving2;
    font-size: 2.8rem;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;

}


.s1 .container{  
    flex-direction: column;
  }
  
.s1 .container li:first-child{
    margin: 0;
    margin-bottom: 2rem;
}

 

.s2{
    background: url(../images/ms3_03.jpg) no-repeat;
    background-position: right -15rem center;
    background-size: cover;
    height: 50rem;
}

.s2 .textBox{
    padding-top: 5rem;
}


.s3 .textBox{
width: 100%;
}
.s3 .board{
margin-top: 2.5rem;
width: 100%; 
}

.s3 .board li span{
font-size: 0.8rem;
}

.s3 .container{
    width: 100%;
     overflow: hidden;
}  

.s3 .container .gallery{
 display: flex;
 transition: transform .6s ease;
}

.s3 .container .gallery  .item{
    margin:0;
    flex: 0 0 100%;    
    border-radius: 1rem;
    overflow: hidden;
}

.s3 .container .gallery .item a{
    display: block;

}

.s3 .container .gallery .item a img{
    display: block;
    width: 100%;
}

footer ul{
    justify-content: center;
    margin:0;
    padding-left: 0;
}

footer address{
    padding-top: 1rem;
    font-style: normal;
    color: #999;
    padding-left: 0;
    text-align: center;
    font-size: 0.8rem;
}
}